.body {
  margin: 0px;
  padding: 0px; 
}
.head {
  background-color: black;
  height: 110px;
  width: 100%;
}
.head h2 {
  color: aliceblue;
  margin: 0;
  /* margin-right: 20px; */
  font-size: 50px;
  padding: 20px 0px 0px 450px;
}
.form-box {
  display: block;
  background-color: aquamarine;
  width: 40%;
  height: 450px;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
}
.form {
  margin: auto;
  padding: 40px;
}
button {
  color: #ccc;
  background-color: red;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}